<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8"> 
	<title>main</title> 
</head>
<body>
	
    <div class="nav">
    	
    	<h1 >&nbsp;&nbsp;DEMO</h1>
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;Scene Text Recognition</h3>
			<form  action='./' method='POST' id='STR'>		&nbsp;&nbsp;&nbsp;&nbsp;				
				<input  type='submit' value='Scene Text Recognition Demo' name=key style='height:40px;width:250px;'>
			</form>	
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;Instance Segmentation</h3>
			<form action='./' method='POST' id='detection'>&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='submit' value='Instance Segmentation Demo' name=key style='height:40px;width:250px;'>
			</form>	
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;Pose Estimation</h3>
			<form action='./' method='POST' id='PoseEstimation'>&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='submit' value='Pose Estimation Demo' name=key style='height:40px;width:250px;'>
			</form>	

    </div>


</body>
</html>
        




